.backContainer{
  height: 100vh;
  position: relative;
  background-color: var(--lightblue-color);
  display: flex;
  justify-content: end;
}

.image img {
  width: 900px;
  position: absolute;
  left: -8rem;
  bottom: -2rem;
  transform: rotate(-90deg);
}

.container {
  position: relative;
  border-radius: 3rem;
  width: 70%;
  height: 100%;
  background-color: var(--light-color);
  padding: 5rem 15rem;
}