* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --light-color: #f0f3f5;
  --black-color: #191919;
  --dark-color: #262626;
  --grey-color:   #c3c3c3;
  
  /* --dark-color:  #343a40; */


  --red-color: #dc3848;
  --pink-color: #ff6c84;
  --purple-color: #5E60CE;
  --blue-color: #67aefa;
  --lightblue-color: #b3dcd9;

  /* --yellow-color:   #ffc107; */
  /* --orange-color:   #ff7f07; */

}

body {
  min-height: 100vh;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: 'Inter';
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}